html {
  background: url(img/wp13066172.png);
}

body {
  background-color: rgba(255, 255, 255, 0.8);
  width: 600px;
  border-radius: 25px;
  margin: 25px auto;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

span {
  padding: 10px;
}

#quiz-title {
  color: blue;
}

#member-number {
  color: rgb(255, 105, 180);
}

#debut-song {
  color: rgb(255, 190, 66);
}

#member-name {
  color: green;
}

#getup-album {
  color: purple;
}

#finalScore {
  padding: 2px;
}

#finalPercentage {
  padding: 2px;
}

#score-para {
  font-weight: bold;
}

#quizFeedback {
  font-weight: bold;
}

h1 {
  padding: 10px;
}

h2 {
  font-size: 23px;
}

button {
  background-color: gray;
  color: white;
}
